@import url('https://fonts.googleapis.com/css?family=Exo+2');

* {
    background: white;
}

.heading {
    text-align: center;
}

#atlien {
    width: 100px;
    margin: 10px;
    margin-bottom: 0;
    margin-right: 0;
    padding: 5px;
    padding-bottom: 0;
}

h1 {
    font-size: 50px;
    display: inline;
    text-align: center;
    font-family: 'Exo 2', sans-serif, bold;
    color: rgb(10, 17, 82)
}

.container {
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    color: rgb(10, 17, 82);
    padding-left: 2vw;
    text-align: center;
}

.atlBtn{
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    border: none;
    background-color: #4CAF50;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 4px 4px;
    cursor: pointer;
}

.atlBtn:hover {
    cursor: pointer;
    background: rgb(18, 42, 177);
}

#atlanta-form{
    display: inline-flex;
    margin: 6px;
}

#form-label {
    padding-top: 2%;
}

#atlanta-input {
    margin-left: .5vw;
    margin-top: .6vh;
    height:  3vh;
}

#find-atlanta {
    font-family: 'Exo 2', sans-serif;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    border: none;
    background-color: rgb(209, 24, 24);
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 8px 4px;
    cursor: pointer;
    height: 50px
}

#find-atlanta:hover {
    cursor: pointer;
    background: rgb(18, 42, 177);
}

#atlGIFviews  > div {
    text-align: center;
    display: grid;
    grid-template-columns:  repeat(3, minmax(0,  1fr));
    grid-row-gap: 3vh;
}

#atlGIFviews  > div  > div > img{
   border-radius:  4px;
   width: 18vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

